<html>
  <div>
    <head>
      <title>Personal Site</title>
      <link rel="stylesheet" href="/main.css" title="CSS" type="text/css"/>
    </head>
    <body>
      <h1>About Me!</h1>
      <p>Hello! My name is Jeremy, I'm a student at Turing School of Software and Design. My goal upon completion of Turing's Backend Engineering Program is to become a software engineer in the Denver area, with eyes on eventually settling in the aerospace industry. Image credit Michael Dao, Turing SoS&D.</p>
      <!-- Why is this image not loading on the server, but works when I load the about page directly in a browser? -->
      <img src="../../public/headshot.jpg" alt="Headshot of Jeremy" style="float:right;width:500px;height:500px;">
    </body>
  </div>
</html>
